.socialIcons {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 70px;
  text-align: center;}
.socialIcons li {
  display: inline-block;
  margin: auto 10px;}
.socialIcons li a {
  display: inline-block;
  font-size: 4rem;
  height: 100px;
  width: 100px;
  line-height: 100px;
  color: #F1DABF;
  transition: all ease 0.5s;
  text-shadow: 0px 0px 1px black, 0px 0px 1px black;
  transform: rotateX(-30deg);}
.socialIcons li a:hover {
  transform: rotateX(-30deg) translateY(-20px);}
.socialIcons li a:hover.googlePlus {
  color: #DB4437;
  text-shadow: 0px 0px 0px #DB4437,0px 1px 2px #d33426,0px 2px 2px #bd2e22,0px 3px 2px #a7291e,0px 4px 2px #92241a,0px 5px 2px #7c1e16,0px 6px 2px #671912,0px 7px 2px #51140f,0px 8px 2px #3b0f0b,0px 9px 2px #260907,0px 10px 2px #100403;}
.socialIcons li a:hover.vk {
  color:deepskyblue;
  text-shadow: 0px 0px 0px deepskyblue,0px 1px 2px deepskyblue,0px 2px 2px deepskyblue,0px 3px 2px blue,0px 4px 2px blue,0px 5px 2px ,0px 6px 2px blue,0px 7px 2px darkblue,0px 8px 2px darkblue,0px 9px 2px darkblue,0px 10px 2px darkblue;}
.socialIcons li a:hover.mail {
  color:deepskyblue;
  text-shadow: 0px 0px 0px blue,0px 1px 2px blue,0px 2px 2px deepskyblue,0px 3px 2px blue,0px 4px 2px blue,0px 5px 2px ,0px 6px 2px blue,0px 7px 2px darkblue,0px 8px 2px darkblue,0px 9px 2px darkblue,0px 10px 2px darkblue;}
.socialIcons li a:hover.whatsapp {
  color:chartreuse;
  text-shadow: 0px 0px 0px chartreuse,0px 1px 2px chartreuse,0px 2px 2px chartreuse,0px 3px 2px forestgreen,0px 4px 2px forestgreen,0px 5px 2px forestgreen,0px 6px 2px #671912,0px 7px 2px darkgreen,0px 8px 2px darkgreen,0px 9px 2px darkgreen,0px 10px 2px darkgreen;}
#maket {    width: 100%; /* Ширина всей таблицы */   }
   TD {
    vertical-align: top; /* Вертикальное выравнивание в ячейках */
    padding: 30px; /* Поля вокруг ячеек */   }
   TD#leftcol {
    width: 400px; /* Ширина левой колонки */
    background: #ccc; /* Цвет фона левой колонки */
    border: 1px solid #000; /* Параметры рамки */   }
::-webkit-scrollbar-track {
background-color:#32312e;
box-shadow:0px 0px 3px #000 inset;}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 5px;
border-radius: 5px;
background-color:darkmagenta;
box-shadow:0px 1px 1px #fff inset;
background-image:url('https://yraaa.ru/_pu/24/59610063.png');
background-position:center;
background-repeat:no-repeat;}
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:7px;
height:0px}
::-webkit-scrollbar{width: 11px;}
.hamburger-icon {
  position: fixed;
  z-index: 1;
  top: 5vh;
  left: 5vw;}
.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color:blueviolet;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;}
#openmenu:checked ~ .menu-pane {
  left: 0vw;
  transform: translateX(0vw);}
#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;}
#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {  opacity: 0;}
#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {  opacity: 0;}
div.menu-pane {
opacity: 0.8;
height: 100%;
width: 15vw; 
position: fixed; 
z-index: 1;
top: 0; 
background-color:blueviolet; 
padding-top: 65px;
transform: translateX(-105vw);
transform-origin: (0, 0);
transition: 0.6s ease-in-out; 
    overflow-x: hidden;}
.menu-links li, a, span {
      list-style-type: none;
      transition: 0.5s ease-in-out;}
.menu-pane li {
    padding: 3px 0px 3px 0px;
   font-size: 22px;}
.menu-links li a {
    color:antiquewhite;
    display: block;
    font: "Monotype Corsiva", "Times New Roman" sans-serif;
    text-decoration: none;}
.menu-links ol a {
    color:antiquewhite;
    display: block;
    font: "Monotype Corsiva", "Times New Roman" sans-serif;
    text-decoration: none;}
.menu-links li,ol:hover a {   color:currentColor;}
.menu-pane ol {   font-size: 22px;}
input.hamburger-checkbox {
  position: fixed;
  z-index: 3;
  top: 5vh;
  width: 10vw;
  opacity: 0;
  height: 6vh;}
#logo {
margin-top: 10px;
margin-right: 40px;
margin-bottom: 30px;
margin-left: 280px;
border-radius: 25px;
text-shadow:  #ebc2af 1px 1px 0, #ebc2af 2px 2px 0, 
                 #cad5e2 3px 3px 0, #ebc2af 4px 4px 0, 
                 #cad5e2 5px 5px 0;
background-image: url(image/%D0%92%D0%BE%D1%81%D0%BF%D0%BE%D0%BC%D0%B8%D0%BD%D0%B0%D0%BD%D0%B8%D1%8F%20%D0%BE%20%D0%A0%D0%BE%D0%B6%D0%B4%D0%B5%D1%81%D1%82%D0%B2%D0%B5.jfif);
background-color:darkorchid;
height: 100px;
text-align: center;
padding-top: 5px;
padding-left: 35px;
border-left: 4px solid #ffffff;
font: 22px "Monotype Corsiva","Times New Roman" sans-serif;
}
#header {
	background-image: ;
	height: 80px;	}
#center{ 
margin-top: 40px;
margin-right: 40px;
margin-bottom: 30px;
margin-left: 280px;
border-radius: 25px;
background-color:antiquewhite;
float: center;
padding-right: 10px;}
.center-pic{
display:block;
margin:auto;
border-radius: 25px;
width:50%;
margin-bottom:inherit;
margin-top:inherit;}
.pic{border-radius: 25px;width:150px; height:150px;  }
#center p {
    text-indent: 15px;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	font: 20px "Times New Roman", Verdana, Arial, Helvetica, sans-serif;
	padding-left: 30px;
	padding-right: 30px;
    text-align: justify;}
#center h1,h2,h3,h4,h5{	color:blueviolet;}
#center a{
color:blueviolet;
font: 30px Monotype Corsiva sans-serif;
padding-left: 10px;}
a.on{    color: #c33;    background-color: #fff;}
#center a:link {  color: #497DDD; }
#center a:visited {  color: #EF7D55;}
#footer {
	height: 44px;
	clear: both;
	padding-top: 20px;
	border-top: 5px solid #A6640E;}
#footer p {
background-color: rgba(0, 0, 0, .5);
	margin: 0;
	font-size: 30px;
	text-align: center;}
#footer a {    	color:chartreuse;}
#footer a:hover{    color: #c33;}